html {
  background: #5f88e0;
  font-family: sans-serif;
}

.task-list {
  max-width: 400px;
  margin: 10% auto;
  background-color: #ffffff;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.task {
  display: flex;
  border-bottom: 1px solid #f1f1f1;
}

.task:last-child {
  border-bottom: 0;
}

input[type="checkbox"] {
  margin: 16px;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  background: #f9f9f9;
}

label {
  flex: 1;
  padding: 16px;
  color: #444444;
  border-left: 1px solid #f1f1f1;
}
